h1 {
    color: rgba(77, 7, 83, 0.945);
    font-size: 3em; 
}
h3 {
    text-decoration: underline;
}
p {
    line-height: 0.5;
}
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
span {
    font-weight: 900;
}
.facebook {
    height:100px;
}
.instagram {
    height:120px;
}